#!/bin/bash

if ! -z "${HOMEBREW_PREFIX}"; then
    echo 'Homebrew is already installed.'
else 
    echo 'Installing Homebrew...'

    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo 'Installing Homebrew build dependencies...'
if command -v "gcc" > /dev/null 2>&1; then
    echo 'C compiler is already installed.'
else
    echo 'Installing C compiler...'
    {{ if eq .chezmoi.os "darwin" }}
    brew install gcc

    {{ else if eq .chezmoi.os "linux" }}
    sudo apt install build-essential

    {{ end -}}
fi

